#banner
 .banner_content
  %h1 File Cabinet
  %p Life's work'. Organized, always
  %button= link_to "Enter", new_user_registration_path

#callouts
 .callout_inner
  .wrapper
   .callout
    %h2 Organize
    %p A filing cabinet (or sometimes file cabinet in American English)is a piece of office furniture usually used to store paper documents in file folders. In the most simple context, it is an enclosure for drawers in which items are stored. The two most common forms of filing cabinets are vertical files and lateral files.   

#bottom_cta
 .wrapper
  %h2 Go Ahead!
  %br       
  %button= link_to "Join Now", new_user_registration_path 
